.grid {
    width: 400px;
    height: 800px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 40px;
    height: 40px;
    /* outline: 4px solid black; */
}

.tetromino {
    background-color: blue;
}