.grid {
    width: 200px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    /* outline: 4px solid black; */
}

.tetromino {
    background-color: blue;
}